$text-transform-uppercase: uppercase !important;
$margin-gapping-top: 10.0% !important;
$main-bg-color: #faf8ff !important;
$h1-font-weight: 700 !important;
$bluecolor: #007bff !important;
$h1-font-size: 36px !important;
$blackcolor: black !important;
$whitecolor: #fff !important;
$graycolor: #777 !important;
$parasize: 14px !important;
$text-align-center: center;